<html lang="en">

<head>
    <meta content="text/html; charset= UTF-8">
    <title>Pipedrive App</title>

</head>

<body>
    <center>
        <h1>DE Case setudy</h1>

        <form action="{{ url_for('transactionapi') }}" method="post">

            <input type="number" id="user_id" name="user_id" label="UserId" placeholder=25>
            <input type="number" id="txn_amnt" name="txn_amnt" placeholder=1000>
            <input type="submit">
        </form>
        </div>
    </center>


</body>

</html>